@CHARSET "UTF-8";
body{
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

.globalNavPanel{
	width: 100%;
	margin:0px;
	padding:0px;
}

.mainpanel{
	margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	width: 100%;
}
.conentPanel{
	width: 100%;
}

.rootPanel{
	width: 100%;
	border: solid 1px #C9D7F1;
	background: #C9D7F1;
}

.editorPanel{
	width:100%;
	height:auto;

}

.queryPanel{
	width:100%;
	height:auto;
	padding: 0px;
	margin: 0px;
}

.queryCondidtionPanel{
	padding: 3px;
	background: #C9D7F1;
}

.queryCondidtionPanel .gwt-Label{
	display: inline;
	line-height: 24px;
	padding:2px;
	font: bold;
	color: blue;
}

.queryCondidtionPanel input,.queryCondidtionPanel select{
	width: 60px;
	height: 22px;
	padding: 0px;
	line-height: 20px;
	max-width: 150px;
}

.queryCondidtionPanel  .gwt-Button{
	height: 24px;
	padding: 1px;
	margin: 0px 4px;
	line-height: 24px;
}
.queryResultPanel{
}

.queryResultPanel .result{
}

.queryResultPanel .pagination{
	height: 25px;
}

.queryHeader{
	background: #bbbbbb;
}

.queryEven{
	background: #dddddd;
}
.queryPagination{
	
}

.queryPagination .gwt-Hyperlink{
	display: inline-block;
	margin: 0 2px;
}

.currentPageLink{
	display: inline;
	margin: 0 2px;
	background: #BBBBBB;
}

