@charset "utf-8";
/* CSS Document */
#helpcenter ul,li{ margin:0px; padding:0; list-style:none;}
#helpcenter img{ border:0; vertical-align:top;}
#helpcenter a{ color:#484848; text-decoration:none;}
#helpcenter a:hover{ color:#ff5a00}
#helpcenter .left{float:left}
#helpcenter .right{float:right;}
#helpcenter .clear{ clear:both}
#helpcenter .mid{ width:972px; margin:0 auto}
/**left**/
#helpcenter .help_left{ float:left; width:171px;padding:0 10px 0 10px; background:#efefef}
#helpcenter .help_left h3{ line-height:30px;font-family: Arial, Helvetica;font-size: 18px; font-weight: bold;}
#helpcenter .help_left h4{ line-height:30px;font-family: Arial, Helvetica;font-size:12px; color:#888;}
#helpcenter .help_left .help_input1{ border:1px solid #ddd; height:14px; padding:5px; line-height:14px}
#helpcenter .help_left .help_input2{ height:24px; margin:5px 0px; width:50px;}
#helpcenter .help_left ul.help_menu li{font-family: Arial, Helvetica;font-size:12px; color:#555; padding:0 0 0 15px; margin-bottom:5px; background: url(/style/image/pic/sanjiao.png) no-repeat 0 6px;}
#helpcenter .help_left ul.help_menu li a{ line-height:18px}
#helpcenter .help_left ul.help_menu li ul li{background: url(/style/image/pic/huise.png) no-repeat 0 6px;padding:0 0 0 6px;font-size:11px;}
/**right**/
#helpcenter .help_right{ float:right; width:771px}
#helpcenter .help_right .help_ti{ margin-bottom:10px}
#helpcenter .help_ti span a{color:#ff5a00}
#helpcenter .help_ti .help_title{ text-align:center; line-height:30px;font-family: Arial, Helvetica;font-size:20px; font-weight: bold;}
#helpcenter .help_ti span{ line-height:18px;font-family: Arial, Helvetica;font-size:12px;}
#helpcenter .help_right .help_Problem{}
#helpcenter .help_Problem_Block{ width:378px; border:1px solid #686868; float:left; margin-bottom:15px}
#helpcenter .one{ float:right}
#helpcenter h4.help_title{ display:block;line-height:30px;font-family: Arial, Helvetica;font-size:16px; font-weight:bold; text-indent:12px; padding-bottom:10px}
#helpcenter .help_Problem_Block ul li{ padding:0 0 0 20px;font-size:14px; background: url(/style/image/pic/sanjiao.png) no-repeat 10px 6px; line-height:20px}
#helpcenter .help_Problem_Block ul li a{ font-family: Arial, Helvetica;}
#helpcenter .help_Problem_Block span{ display:block; margin:15px 10px;font-family: Arial, Helvetica;}
#helpcenter .help_more ul li{ padding:0 0 0 20px;font-size:14px; background: url(/style/image/pic/sanjiao.png) no-repeat 10px 6px; line-height:20px}
#helpcenter .help_more ul li a{ font-family: Arial, Helvetica;}
#helpcenter .help_more span{ display:block; margin:15px 10px;font-family: Arial, Helvetica;}
/**detail**/
#helpcenter .help_ti .detail_title{ line-height:30px;font-family: Arial, Helvetica;font-size:20px; font-weight: bold;}
#helpcenter .detail span a{color:#ff5a00}
#helpcenter .help_ti span p{font-family: Arial, Helvetica; line-height:20px}
#helpcenter .help_right .detail{}
#helpcenter .detail table{ border-collapse:collapse; border:1px solid #666666;border-spacing:0; margin-bottom:10px}
#helpcenter .detail td{ text-align:center}
#helpcenter .detail td,th{ border:1px solid #666666; line-height:20px; padding:5px 0 5px 5px}
#helpcenter .detail .detail_font a{ color:#ff5a00}
#helpcenter .detail .detail_font p{font-family: Arial, Helvetica; line-height:20px}
#helpcenter .detail span p{font-family: Arial, Helvetica; line-height:20px}
#helpcenter .help_right .detail_font p{font-family: Arial, Helvetica; line-height:20px}
#helpcenter .detail .detail_font h4{font-family: Arial, Helvetica; line-height:20px}
#helpcenter .detail span{ margin:10px 0 10px 0; display:block}
#helpcenter .detail h2{ margin:10px 0 10px 0;display:block;font-family: Arial, Helvetica; font-weight:bold; font-size:14px;}
#helpcenter .detail ul{ width:180px; background:#7f7b72}
#helpcenter .detail li{ line-height:20px; height:20px;}
#helpcenter .detail ul li a{font-family: Arial, Helvetica; font-size:14px; display:block; text-indent:30px; background:url(/style/image/pic/pagebg.png) no-repeat 5px -40px; color:#dbccbd;}
#helpcenter .detail ul li a:hover{ text-decoration:underline}
#helpcenter .detail ul li a.use1{ background-position:5px -106px}
#helpcenter .detail ul li a.use2{ background-position:5px -128px}
#helpcenter .detail ul li a.use3{ background-position:5px 4px}
#helpcenter .detail ul li a.use4{ background-position:5px -18px}
#helpcenter .detail ul li a.use5{ background-position:5px -151px}
#helpcenter .detail ul li a.use6{ background-position:5px -84px}
#helpcenter .detail ul li a.use7{ background-position:5px -173px}
#helpcenter .detail ul li a.use8{ background-position:5px -62px}
#helpcenter .detail .centent{ width:771px; margin:10px auto; text-align:center}
/*****bottom css star*****/
#bottom{ width:972px; margin:20px auto 0 auto;border-top:1px solid #474747;}
#bottom img{ border:0; vertical-align:top;}
#bottom ul,li{ margin:0px; padding:0; list-style:none;}
#bottom p,h1,h2,h3,dl,dd,dt{ margin:0; padding:0; font-size:12px; font-family: Arial, Helvetica;}
#bottom h3{ font-weight:normal; font-size:11px}
#bottom a{ color:#666666; text-decoration:none;}
#bottom .enjoy{ font-size:38px;color:#bottom;!important; padding-bottom:30px; text-indent:10px}
#bottom .hottest{ font-size:24px;font-family: 'Helvetica Neue',; font-weight:bold; color:#969696;text-indent:10px}
#bottom .big{font-family: Arial, Helvetica; font-size:12px; text-indent:10px; color:#666666}
#bottom .big a{ text-decoration:none; color:#0069ff}
#bottom .pic{ padding-left:6px}
#bottom .pic dl{ width:320px; float:left}
#bottom .pic dl dt{ float:left; width:158px;}
#bottom .pic dl dd{ float:left; width:150px; line-height:20px; font-size:11px}
#bottom .pic dl dd a:hover{ color:#cb4634;}
#bottom .shang{ margin-top:30px; margin-bottom:20px; height:156px}
#bottom .xia{ margin-bottom:30px; clear:both; height:156px}
#bottom .jion{ height:64px; border-bottom:2px solid #e0e0e0 ;border-top:2px solid #e0e0e0}
#bottom .jion .txt{ color:#666666; font-size:16px; line-height:64px; float:left; text-indent:20px}
#bottom .jion .tubiao{ float:left; padding-top:15px}
#bottom .tubiao img{ margin-left:20px; display:inline}
#bottom .HoneyBuy dl{ margin-top:20px; float:left; margin-left:90px; display:inline}
#bottom .HoneyBuy dl dt{ font-weight:bold; font-size:12px; margin-bottom:5px}
#bottom .HoneyBuy dl dd{ font-size:10px;color:#666666; line-height:18px;font-family: 'Helvetica Neue',;}
#bottom .HoneyBuy dl dd a{font-size:10px;line-height:18px;font-family: 'Helvetica Neue',; text-decoration:none}
#bottom .pay{ margin-top:20px; height:109px; background:url(/style/image/pic/beijing.jpg) repeat-x; clear:both}
#bottom .pay .pal{ height:90px;}
#bottom .pay .pal .noth{ width:135px; float:left}
#bottom .pay .pal .zhongjian{ width:725px; float:left; padding-top:30px; margin-left:5px; }
#bottom .pay .pal .paypal{ float:left; padding:10px}
#bottom .pay p{ text-align:center}
#bottom .pay p a{ text-align:center;color:#0088cc; text-decoration:none;}
#bottom .Copyright{ margin-top:10px; text-align:center; color:#888888}
#bottom .Copyright a{ color:#0088cc; text-decoration:none;}
/*****bottom css end*****/
