<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- <bean id="com.spshop.dao.intf.UserDAO"
		class="com.spshop.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 -->
	 <bean id="com.spshop.dao.intf.FeedBackDAO"
		class="com.spshop.dao.impl.FeedBackDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
